name: 'Deploy Infrastructure via HCP Terraform'
on:
  workflow_call:
    inputs:
      app_name:
        description: Name of the application
        required: true
        type: string
      deployment_env:
        description: Environment to deploy to (e.g., dev, prod)
        required: true
        type: string
      python_runtime:
        description: Python runtime for Lambda (e.g., 3.11)
        required: true
        type: string
      aws_region:
        description: AWS Region to deploy to
        required: true
        type: string
      artifact_s3_bucket:
        description: S3 bucket name for storing build artifacts
        required: true
        type: string
      hcp_terraform_org:
        description: HCP Terraform Organization name
        required: true
        type: string
      hcp_terraform_workspace:
        description: HCP Terraform Workspace name
        required: true
        type: string
      hcp_terraform_project:
        description: HCP Terraform Project name
        required: true
        type: string
      app_version:
        description: Version of the application
        required: false
        type: string
      discord_public_key:
        description: Public key for Discord verification (env-specific and used by Terraform)
        required: true
        type: string
    secrets:
      AWS_S3_ARTIFACT_UPLOAD_ROLE_ARN:
        required: true
      TF_API_TOKEN:
        required: true
      GH_ACTIONS_PAT:
        required: true
      STARTGG_API_TOKEN:
        required: true

jobs:
  deploy-via-hcp-terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Setup HCP Terraform Workspace
        id: setup_workspace
        uses: enpicie/action-workflow-hcp-terraform-workspace-setup@v1.1.0
        with:
          tfc_organization: ${{ inputs.hcp_terraform_org }}
          tfc_workspace: ${{ inputs.hcp_terraform_workspace }}
          tfc_project: ${{ inputs.hcp_terraform_project }}
          tfc_token: ${{ secrets.TF_API_TOKEN }}

      - name: Attach IAM Permissions Variable Set to this Workspace
        uses: enpicie/action-workflow-hcp-terraform-var-set-attach@v1.0.1
        with:
          tfc_organization: ${{ inputs.hcp_terraform_org }}
          tfc_workspace_id: ${{ steps.setup_workspace.outputs.workspace_id }}
          tfc_token: ${{ secrets.TF_API_TOKEN }}
          var_set_name: ${{ vars.AWS_TF_ROLE_VARSET_LAMB_APIGW_DDB }}

      - name: Build and Upload Lambda Layer Artifact to S3
        id: build_layer
        uses: enpicie/action-workflow-build-python-lambda-layer-zip@v1.2.0
        with:
          requirements_path: ./src/requirements.txt # Path relative the repository root
          app_name: ${{ inputs.app_name }}
          python_runtime: ${{ inputs.python_runtime }}
          aws_role_arn: ${{ secrets.AWS_S3_ARTIFACT_UPLOAD_ROLE_ARN }}

      - name: Upload Latest Lambda Zip to S3
        uses: enpicie/action-workflow-upload-lambda-zip@v0.1.0
        with:
          source_directory: ./src
          app_name: ${{ inputs.app_name }}
          artifact_name: ${{ inputs.app_name }}-latest
          s3_bucket_name: ${{ inputs.artifact_s3_bucket }}
          aws_role_arn: ${{ secrets.AWS_S3_ARTIFACT_UPLOAD_ROLE_ARN }}

      - name: Upload Version Lambda Zip to S3
        if: ${{ inputs.app_version != '' }}
        uses: enpicie/action-workflow-upload-lambda-zip@v0.1.0
        with:
          source_directory: ./src
          app_name: ${{ inputs.app_name }}
          artifact_name: ${{ inputs.app_name }}-${{ inputs.app_version }}
          s3_bucket_name: ${{ inputs.artifact_s3_bucket }}
          aws_role_arn: ${{ secrets.AWS_S3_ARTIFACT_UPLOAD_ROLE_ARN }}

      - name: Deploy Application Config via HCP Terraform
        uses: enpicie/action-workflow-hcp-terraform-run@v1.1.1
        with:
          terraform_directory: ./terraform
          tfc_organization: ${{ inputs.hcp_terraform_org }}
          tfc_workspace: ${{ inputs.hcp_terraform_workspace }}
          tfc_token: ${{ secrets.TF_API_TOKEN }}
        env:
          # Need explicit quotes to pass strings as string literaly correctly
          TF_VAR_app_name: '"${{ inputs.app_name }}"'
          TF_VAR_aws_region: '"${{ inputs.aws_region }}"'
          TF_VAR_python_runtime: '"${{ inputs.python_runtime }}"'
          TF_VAR_deployment_env: '"${{ inputs.deployment_env }}"'
          TF_VAR_bucket_name: '"${{ inputs.artifact_s3_bucket }}"'
          TF_VAR_app_lambda_layer_s3_key: '"${{ steps.build_layer.outputs.s3_artifact_key }}"'
          TF_VAR_discord_public_key: '"${{ inputs.discord_public_key }}"'
          TF_VAR_startgg_api_token: '"${{ secrets.STARTGG_API_TOKEN }}"'
